/*TOP SECTION*/
.specialHeader {
    color:#B3A369;
    text-shadow : -.5px .5px 0 #B3A369,
                    .5px .5px 0 #B3A369,
                    .5px -.5px 0 #B3A369,
                    -.5px -.5px 0 #B3A369;
}
#pageHeader {
    text-align: center;
    font-size: 200%;
    color : black;
    text-shadow : -.5px .5px 0 #000,
                    .5px .5px 0 #000,
                    .5px -.5px 0 #000,
                    -.5px -.5px 0 #000;
}

#navigationBar {
    background-color: #335161;
    height : 60px;
    padding-top: 15px;
}
.navigationButton {
    border: none;
    background-color: #335161;
    float : center;
    color : white;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 0%;
    text-align : center;
    float: left;
}
.nb:hover {
    height : 40pt;
    background-color: #B3A369;
}
.nb {
    color : white;
    background-color : #335161;
    border : none;
    width : 200px;
    height : 40px;
    font-size: 125%;
}
#dropdown {
    overflow: hidden;
}
.dropdowncontent {
    display : none;
    margin : 10px;
    text-align: center;
}
.link {
    color : white;
    text-decoration: none;
    font-size: 125%;
}
.dropdownbox {
    margin : 10px;
    height : 40px;
    border-style : solid;
    border-bottom : white;
    border-left: white;
    border-right : white;
    border-width: 1pt;
}
.dropdownbox:hover {
    background-color: #B3A369;
}
#dropdown:hover .dropdowncontent{
    display : block;
}

/*CORE CONTENT*/
.subheader {
    font-size: 20pt;
    text-align : center;
    font-weight: bold;
    margin : 20px;
}
body {
    background-color: #E5E5E5;
    /* background-image: url('HomePage.jpg'); */
    background-size: 60% 60%;
    position : relative;
}

#main {
    margin-top : 20px;
}

#core {
    float : center;
}

#homeText {
    float : center;
    font-size: 500%;
    text-align: center;
    margin : 5%;
    letter-spacing: 5px;
    font-style: oblique;
}
#aboutMeText {
    margin-left: 5%;
    margin-right : 5%;
    margin-top : 7%;
    font-size: 200%;
    float : left;
    width : 25%;
}
#aboutMeTextRight {
    /* total width to 35% */
    text-align: left;
    margin-left : 3%;
    margin-right : 3%;
    margin-top : 5%;
    font-size : 200%;
    float : left;
    width :29%;
}
.aboutImageGrid {
    float : left;
    padding-top : 3%;
    text-align: center;
    width : 30%;
    height : 30%;
    display: grid;
    grid-template-columns: (1/4)% (1/4)%  (1/4)%  (1/4)% ;
    grid-template-rows : (1/4)% (1/4)%  (1/4)%  (1/4)% ;
}
.aboutImage {
    width : 100%;
    object-fit: cover;
}
#aboutImageContainer1 {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start : 2;
    grid-row-end:4;
}
#aboutImageContainer2 {
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start : 1;
    grid-row-end: 2;
}
#aboutImageContainer3 {
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start : 3;
    grid-row-end: 5;
}
#aboutImageContainer4 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start : 3;
    grid-row-end: 5;
}
#aboutImageContainer5 {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start : 4;
    grid-row-end: 5;
    padding-bottom: 33%;
}
#aboutImageContainer6 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start : 2;
    grid-row-end: 3;
}
#aboutImageContainer7 {
    padding-top:17%;
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start : 2;
    grid-row-end: 3;
}
#aboutImageContainer8 {
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start : 1;
    grid-row-end: 3;
}

#project {
    display: inline-block;
}
.projectHeader {
    text-align: center;
    font-size: 200%;
    margin:3%;
    letter-spacing: 4pt;
}
.projectItem {
    display : inline-block;
    padding-bottom: 5%;
    padding-top : 1%;
}
.imageContainer {
    display: inline-block;
    float : left;
    text-align: center;
    width : 35%;
    margin-top : 3%;
    margin-left : 10%;
    margin-right : 5%;
    padding : 1%;
}
.projectImage {
    display : inline-block;
    float : left;
    margin-left : 10%;
    margin-right: 10%;
    width: 70%;
    height : 70%;
}
.projectText {
    margin-left : 4%;
    margin-right : 4%;
    font-size: 150%;
    float : left;
    width : 30%;
}
#programmingLanguages {
    display: inline-block;
    width : 100%;
}

.projectItem:hover, #projectLanguages:hover {
    background-color: #B3A369;
}

.programmingData {
    font-size: 20pt;
    float : left;
    width : 12.5%;
    text-align: center;
}
.programmingData:hover {
    background-color : white;
}

.content {
    background-color: #f5f5f5;
    margin-left : 5%;
    margin-right: 5%;
    text-align: center;
}

/*BOTTOM CONTENT*/
#main {
    display : flex;
    flex-direction: column;
}
footer {
    margin-top: 1%;
    text-align: center;
    color : black;
    font-size : 150%;
}
