/*TOP SECTION*/
html, body {
    height : 100%;
    margin : 0;
    color : black;
    background-color: white;
    scroll-behavior: smooth;
}
.specialHeader {
    color:#B3A369;
    font-weight: 600;
    font-size : 1vw;
    font-family: monospace;
}
#pageHeader {
    position : relative;
    float : left;
    width : auto;
    text-align: center;
    font-size: 1vw;
    color : white;
    font-family : monospace;
    margin-left: 2%;
}
#homeButton {
    margin-left : 2%;
    color : white;
    background-color : #335161;
    border : none;
    max-width : 50%;
}
#navigationBar {
    position: fixed;
    background-color: #335161;
    height: auto;
    width : 100%;
}
.navigationButton {
    border: none;
    color : white;
    text-decoration: none;
    text-align : center;
    float: right;
    font-size: 2vw;
    margin-right : 1%;
}
.nb:hover {
    background-color: #B3A369;
}
.nb {
    color : white;
    background-color : #335161;
    border : none;
    width : auto;
    font-size: 1vw;
    font-family : monospace;
    letter-spacing: 0.2vw;
    text-decoration: none;
}
#linkHolder {
    margin-right : 2%;
}

/*CORE CONTENT*/
.subheader {
    font-size: 2vw;
    text-align : center;
    font-weight: bold;
    /* color : #335161; */
    font-family: monospace;
    width : 100%;
    text-transform: uppercase;
    letter-spacing: 10pt;
    padding-top: 5%;
}

section {
    background-color : #335161;
    padding-top : 3%;
    color : white;
}
section:hover{
    background-color : white;
    color : black;
}
#navigationBar:hover ~ #homeText {
    background-color : white;
    color : black;
}
#backgroundImage:hover ~ #homeText {
    background-color : white;
    color : black;
}
#home {
    height : 100%;
    width : 100%;
}
#homeText {
    height : 100%;
    font-family : monospace;
}
#homeTextHolder {
    position : absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left : 10%;
    margin-right : 45%;
    width : 45vw;
}
#backgroundImage {
    background-image : url("./images/propic_biology.jpg");
    background-size: cover;
    background-position: top;
    position : absolute;
    margin-left : 60%;
    width : 40%;
    height : 100%;
    /* filter : blur(1.5px) hue-rotate(163deg) saturate(30%) brightness(100%); */
}
#homeLarge {
    font-size: 5vw;
    text-align: left;
    letter-spacing: 5px;
    font-weight: 300;
}
#homeSmall {
    font-size : 2vw;
    text-align : left;
    letter-spacing : 3px;
    font-weight : 100;
}
/**********************ABOUT*/
#navigationBar:hover ~ #about {
    background-color : white;
    color : black;
}
#about {
    height : 100%;
}
#aboutMeLeft {
    float : left;
    margin-left : 15%;
    width : 35%;
}
#aboutImage {
    height : 50%;
    margin-top: 25%;
    margin-right: 25%;
    width : 30vw;
}
#aboutMeRight {
    position: none;
    font-family: monospace;
    float : left;
    width : 35%;
    margin-right: 15%;
    font-size: 1vw;
}
.aboutSpecial {
    color : #B3A369;
}
#quote {
    padding-top: 5%;
    font-size: 2vw;
    font-weight: 300;
}
#aboutTableRight {
    font-family: monospace;
    width : 55%;
    margin: auto;
    padding-top: 5%;
}
#researchTitle {
    padding-top: 2%;
    color : #335161;
    font-weight: 900;
}
#tableTitle {
    float : left;
    width : 30%;
    text-align: center;
    font-size: 1vw;
    text-transform: uppercase;
}
#leftLine {
    float :left;
    width :35%;
}
#rightLine {
    float :left;
    width : 35%;
}
hr {
    color : #335161;
    font-weight: 900;;
    height : .25vw;
    background-color: #335161;
}
/*******************PROJECT*/
#navigationBar:hover ~ #projects {
    background-color : white;
    color : black;
}
#gridProjects {
    overflow: auto;
    padding-left : 10%;
    padding-right : 10%;
    padding-top : 5%;
    padding-bottom : 5%;
}
#projectHolder {
}
.project {
    color : black;
    text-align: center;
    float : left;
    width : 33%;
    height : 60vh;
}
.project:hover {
    background-color : #B3A369;
}
.projectImage {
    margin-top : 3%;
    width : 50%;
}
.projectTitle {
    position : none;
    font-family: monospace;
    font-weight: bold;
    font-size : 1vw;
}
ul {
    position : none;
    text-align: left;
    font-family: monospace;
    font-size: .5vw;
    width : 85%;
    margin : auto;
}
/********************RESUME*/
#navigationBar:hover ~ #resume {
    background-color : white;
    color : black;
}
#resumeContent {
    position : none;
    margin-left:14%;
    margin-right : 14%;
    padding-bottom : 5%;
    margin-top : 2%;
    padding-left : 1%;
    padding-right : 1%;
    padding-top : 1%;
}
#resumeContent:hover {
    background-color : #B3A369;
    padding-bottom :1%;
    margin-bottom : 4%;
}
#resumeLink {
    text-decoration: none;
    color : black;
}
.resumeItem {
    margin-left : 5%;
}
.sectionItem {
    float : left;
    width : 100%;
}
.sectionHeader {
    text-transform: uppercase;
    letter-spacing: 3;
    font-family: monospace;
    font-size: 1.5vw;
}
.sectionSubheader {
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
    text-transform: uppercase;
}
.sectionPosition {
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}
.sectionTable {
    margin : 1%;
}
.resumeLine {
    height : .1vw;
}
#resumeName {
    text-transform: uppercase;
    font-family: monospace;
    text-align: center;
    font-size: 1.5vw;
}
#line2 {
    font-family: monospace;
    margin:0%;
    text-align: center;
}
#line3 {
    font-family: monospace;
    margin:0%;
    text-align: center;
    margin-bottom: 2%;
}

/************************CONTACT*/
#navigationBar:hover ~ #contact {
    background-color : white;
    color : black;
}
#contact {
    padding-bottom : 1vh;
    height : 80%;
}
#contactContent {
    padding-top : 10vh;
    font-family: monospace;
    text-align: center;
}
#name {
    font-size: 2vw;
    margin-bottom : 0;
}
.cc {
    margin : 0;
}
#socialMedia {
    margin-top: 5vw;
    width : 100%;
}
.social {
    float : left;
    height : 5%;
    width : 5%;
    margin-left : 7.5%;
    margin-right : 7.5%;
}
#facebook {
    margin-left : 12.5%;
}
#instagram {
    margin-right : 12.5%;
}

/*BOTTOM CONTENT*/
#footer {
    height : 10%;
    font-family: monospace;
    text-align: center;
    padding-top : 1vw;
}
