/*TOP SECTION*/
html, body {
    height : 100%;
    background-color: #335161;
    margin : 0;
}
.specialHeader {
    color:#B3A369;
    font-weight: 600;
    font-size : 1vw;
    font-family: monospace;
}
#pageHeader {
    position : relative;
    float : left;
    width : auto;
    text-align: center;
    font-size: 1vw;
    color : white;
    font-family : monospace;
}
#homeButton {
    margin-left : 2%;
    color : white;
    background-color : #335161;
    border : none;
    max-width : 50%;
}
#navigationBar {
    position: fixed;
    background-color: #335161;
    height: auto;
    width : 100%;
}
.navigationButton {
    border: none;
    color : white;
    text-decoration: none;
    text-align : center;
    float: right;
    font-size: 2vw;
    margin-right : 1%;
}
.nb:hover {
    background-color: #B3A369;
}
.nb {
    color : white;
    background-color : #335161;
    border : none;
    width : auto;
    font-size: 1vw;
    font-family : monospace;
    letter-spacing: 0.2vw;
}
#linkHolder {
    margin-right : 2%;
}

/*CORE CONTENT*/
.subheader {
    font-size: 2vw;
    text-align : center;
    font-weight: bold;
    color : black;
    margin-top : 1vw;
}
body {
    background-color: white;
}
#home {
    height : 100%;
    width : 100%;
    border-style: solid;
    border-color: black;
}
#homeText {
    height : 100%;
    font-family : monospace;
}
#homeTextHolder {
    position : absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left : 10%;
    margin-right : 10%;
}
#homeLarge {
    font-size: 5vw;
    text-align: left;
    letter-spacing: 5px;
    color : black;
    font-weight: 300;
}
#homeSmall {
    font-size : 2vw;
    text-align : left;
    letter-spacing : 3px;
    color : black;
    font-weight : 100;
}
#aboutMeText {
    margin-left: 5%;
    margin-right : 5%;
    margin-top : 7%;
    font-size: 1.5vw;
    float : left;
    width : 25%;
}
#aboutMeTextRight {
    /* total width to 35% */
    text-align: left;
    margin-left : 3%;
    margin-right : 3%;
    margin-top : 5%;
    font-size : 1.5vw;
    float : left;
    width :29%;
}
.aboutImageGrid {
    float : left;
    padding-top : 3%;
    text-align: center;
    width : 30%;
    height : 30%;
    display: grid;
    grid-template-columns: (1/4)% (1/4)%  (1/4)%  (1/4)% ;
    grid-template-rows : (1/4)% (1/4)%  (1/4)%  (1/4)% ;
}
.aboutImage {
    width : 100%;
    object-fit: cover;
}
#aboutImageContainer1 {
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start : 2;
    grid-row-end:4;
}
#aboutImageContainer2 {
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start : 1;
    grid-row-end: 2;
}
#aboutImageContainer3 {
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start : 3;
    grid-row-end: 5;
}
#aboutImageContainer4 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start : 3;
    grid-row-end: 5;
}
#aboutImageContainer5 {
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start : 4;
    grid-row-end: 5;
    padding-bottom: 33%;
}
#aboutImageContainer6 {
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start : 2;
    grid-row-end: 3;
}
#aboutImageContainer7 {
    padding-top:17%;
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start : 2;
    grid-row-end: 3;
}
#aboutImageContainer8 {
    grid-column-start: 3;
    grid-column-end:4;
    grid-row-start : 1;
    grid-row-end: 3;
}

#project {
    display: inline-block;
}
.projectHeader {
    text-align: center;
    font-size: 2vw;
    margin:1%;
    letter-spacing: 4pt;
}
.projectItem {
    display : inline-block;
    padding-bottom: 5%;
    padding-top : 1%;
}
.imageContainer {
    display: inline-block;
    float : left;
    text-align: center;
    width : 35%;
    margin-top : 0%;
    margin-left : 10%;
    margin-right : 5%;
    padding : 1%;
}
.projectImage {
    display : inline-block;
    float : left;
    margin-left : 10%;
    margin-right: 10%;
    width: 70%;
    height : 70%;
}
.projectText {
    margin-left : 4%;
    margin-right : 4%;
    font-size: 1.5vw;
    float : left;
    width : 30%;
}
.projectTextTitle {
    font-weight: bold;
}
.projectDetails {
    display : none;
    text-align : left;
    font-size: 0.1vw;

}
.projectContent:hover .projectDetails{
    display : block;
}

#programmingLanguages {
    display: inline-block;
    width : 100%;
}

.projectItem:hover, #projectLanguages:hover {
    background-color: #B3A369;
}

.programmingData {
    font-size: 1.5vw;
    float : left;
    width : 12.5%;
    text-align: center;
}
.programmingData:hover {
    background-color : white;
}
#programmingMini {
    font-size: 1.5vw;
}

.content {
    background-color: #f5f5f5;
    margin-left : 5%;
    margin-right: 5%;
    text-align: center;
    color : black;
}

/*BOTTOM CONTENT*/
#main {
    display : flex;
    flex-direction: column;
}
footer {
    margin-top: 1%;
    text-align: center;
    color : black;
    font-size : 1.5vw;
}
