/*TOP SECTION*/
html, body {
    height : 100%;
    margin : 0;
    color : black;
    background-color: white;
}
.specialHeader {
    color:#B3A369;
    font-weight: 600;
    font-size : 1vw;
    font-family: monospace;
}
#pageHeader {
    position : relative;
    float : left;
    width : auto;
    text-align: center;
    font-size: 1vw;
    color : white;
    font-family : monospace;
}
#homeButton {
    margin-left : 2%;
    color : white;
    background-color : #335161;
    border : none;
    max-width : 50%;
}
#navigationBar {
    position: fixed;
    background-color: #335161;
    height: auto;
    width : 100%;
}
.navigationButton {
    border: none;
    color : white;
    text-decoration: none;
    text-align : center;
    float: right;
    font-size: 2vw;
    margin-right : 1%;
}
.nb:hover {
    background-color: #B3A369;
}
.nb {
    color : white;
    background-color : #335161;
    border : none;
    width : auto;
    font-size: 1vw;
    font-family : monospace;
    letter-spacing: 0.2vw;
}
#linkHolder {
    margin-right : 2%;
}

/*CORE CONTENT*/
.subheader {
    font-size: 2vw;
    text-align : center;
    font-weight: bold;
    /* color : #335161; */
    font-family: monospace;
    width : 100%;
    margin : auto;
}

section {
    background-color : #335161;
    padding-top : 3%;
    color : white;
}
section:hover{
    background-color : white;
    color : black;
}
#navigationBar:hover ~ #homeText {
    background-color : white;
    color : black;
}
#backgroundImage:hover ~ #homeText {
    background-color : white;
    color : black;
}
#home {
    height : 100%;
    width : 100%;
}
#homeText {
    height : 100%;
    font-family : monospace;
}
#homeTextHolder {
    position : absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left : 10%;
    margin-right : 45%;
}
#backgroundImage {
    background-image : url("./images/propic_biology.jpg");
    background-size: cover;
    background-position: top;
    position : absolute;
    margin-left : 60%;
    width : 40%;
    height : 100%;
    /* filter : blur(1.5px) hue-rotate(163deg) saturate(30%) brightness(100%); */
}
#homeLarge {
    font-size: 5vw;
    text-align: left;
    letter-spacing: 5px;
    font-weight: 300;
}
#homeSmall {
    font-size : 2vw;
    text-align : left;
    letter-spacing : 3px;
    font-weight : 100;
}
/**********************ABOUT*/
#navigationBar:hover ~ #about {
    background-color : white;
    color : black;
}
#about {
    height : 100%;
}
#aboutMeLeft {
    float : left;
    margin-left : 15%;
    width : 35%;
}
#aboutImage {
    height : 50%;
    margin-top: 25%;
    margin-right: 25%;
}
#aboutMeRight {
    position: relative;
    font-family: monospace;
    float : left;
    width : 35%;
    margin-right: 15%;
    font-size: 1vw;
}
.aboutSpecial {
    color : #B3A369;
}
#quote {
    padding-top: 5%;
    font-size: 2vw;
    font-weight: 300;
}
#aboutTableRight {
    font-family: monospace;
    width : 55%;
    margin: auto;
    padding-top: 5%;
}
#researchTitle {
    padding-top: 2%;
    color : #335161;
    font-weight: 900;
}
#tableTitle {
    float : left;
    width : 20%;
    text-align: center;
    font-size: 1vw;
}
#leftLine {
    float :left;
    width : 40%;
}
#rightLine {
    float :left;
    width : 40%;
}
hr {
    color : #335161;
    font-weight: 900;;
    height : .25vw;
    background-color: #335161;
}
/*******************PROJECT*/
#navigationBar:hover ~ #projects {
    background-color : white;
    color : black;
}
#projects {
    height :100%;
    margin : auto;
}
.project {
    float : left;
    width : 33%;
    text-align: center;
}
.project:hover {
    background-color : #B3A369;
}
.projectImage {
    margin : auto;
    height : 15vw;
    width : 50%;
}
.projectTitle {
    position : relative;
    font-family: monospace;
    font-weight: bold;
    font-size : 1vw;
}
.projectText {
    position : relative;
}
#row1 {
    width : 100%;
}
/********************RESUME*/
#navigationBar:hover ~ #resume {
    background-color : white;
    color : black;
}
#resume {
    height : 100%;
}

#contact {
    height : 50%;
    margin : auto;
}

/*BOTTOM CONTENT*/
#main {
    display : flex;
    flex-direction: column;
}
footer {
    background-color: #335161;
    text-align: center;
    color : white;
    font-size : 1vw;
}
.footerText {
    margin : 0;

}
#footerContent {
    height : 50%;
    margin : auto;
    padding : 1%;
}
